<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% for( let i = 0; i < skills.length; i++ ) { %>
      <li>
        <a href="/skills/<%= skills[i].id %>"><%= skills[i].name %></a>
      </li>
      <% } %>
    </ul>

    <a href="/skills/new">Add Skill</a>
  </body>
</html>
